.face{
    width: 200px;
    height: 200px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth{
    width: 100px;
    height: 35px;
    background-color: rgb(154, 42, 42);
    position: absolute;
    border-radius: 0 0 30px 30px;
    top: 140px;
    left: 50px;
}

#left-eye, #right-eye{
   width: 30px;
   height: 30px;
   background-color: black;
   border-radius: 50%;
   display: inline-block;
   position: absolute;
   left:50px;
   top: 50px;
}

#right-eye{
    left: 120px;
}